<h1>Submitted Answer</h1>

<h3>Problem 1 (Chapter: 1.5) </h3> 
<p>Find the exact value of arcsin(sin(5pi/4)) and cos(2sin^-1(5/13)).</p>
<p>Answer: {{ object.answer_1 }} (Correct)</p>
<A href = "https://youtu.be/ryLdyDrBfvI" > Link </A>

<h3>Problem 2 (Chapter: 1.5) </h3>
<p>Prove that cos(sin^-1(x)) = sqrt(1-x^2).</p>
<p>Answer: {{ object.answer_2 }} (Correct)</p>
<A href = "https://youtu.be/ryLdyDrBfvI" > Link </A>

<h3>Problem 3 (Chapter: 1.5) </h3>
<p>Simplify the expression sin(tan^-1(x))</p>
<p>Answer: {{ object.answer_3 }} (Correct)</p>
<A href = "https://youtu.be/ryLdyDrBfvI" > Link </A>

<h3>Problem 4 (Chapter: 3.5) </h3>
<p>If f(x)+x^2[f(x)]^3 = 10 and f(1) = 2, find f'(1)</p>
<p>Answer: {{ object.answer_4 }} (Correct)</p>
<A href = "https://youtu.be/5q_3FDOkVRQ" > Link </A>

<h3>Problem 5 (Chapter: 3.5) </h3>
<p>Use implicit differentiation to find an equation of the tangent line to the curve at the given point. tan(x+y) + sec(x-y) = 2, (π/8, π/8)</p>
<p>Answer: {{ object.answer_5 }} (Correct)</p>
<A href = "https://youtu.be/5q_3FDOkVRQ" > Link </A>

<h3>Problem 6 (Chapter: 3.5) </h3>
<p>If xy + e^y = e, find the value of y'' at the point where x = 0.</p>
<p>Answer: {{ object.answer_6 }} (Correct)</p>
<A href = "https://youtu.be/5q_3FDOkVRQ" > Link </A>

<h3>Problem 7 (Chapter: 3.5) </h3>
<p>Find all points on the curve x^2y^2 + xy = 2 where the slope of the tangent line is -1.</p>
<p>Answer: {{ object.answer_7 }} (Correct)</p>
<A href = "https://youtu.be/5q_3FDOkVRQ" > Link </A>

<h3>Problem 8 (Chapter: 3.6) </h3>
<p>Use logarithmic differentiation to find the derivative of the function. y = x^(1/x)</p>
<p>Answer: {{ object.answer_8 }} (Correct)</p>
<A href = "https://youtu.be/er_tQOBgo-I" > Link </A>

<h3>Problem 9 (Chapter: 3.6) </h3>
<p>Find the derivative of the function. Simplify where possible. h(t) = cot^-1(t) + cot^-1(1/t)</p>
<p>Answer: {{ object.answer_9 }} (Correct)</p>
<A href = "https://youtu.be/er_tQOBgo-I" > Link </A>

<h3>Problem 10 (Chapter: 3.6) </h3>
<p>Find the derivative of the function. Simplify where possible. y = tan^-1(sqrt((1-x)/(1+x)))</p>
<p>Answer: {{ object.answer_10 }} (Correct)</p>
<A href = "https://youtu.be/er_tQOBgo-I" > Link </A>
